<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding">
<div class="title">
  <h4 color="secondary">Faites votre opération</h4>
<p color="primary">Commencez !</p>
 </div>
 <form (ngSubmit)="saveoperationt(transactionForm)">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Montant</ion-label>
      <ion-input type="number" [(ngModel)]="transactionForm.montant" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date d'enregistrement</ion-label>
      <ion-input type="date" [(ngModel)]="transactionForm.dateenregistrement" readonly [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Heure d'enregistrement</ion-label>
      <ion-input type="text" [(ngModel)]="transactionForm.heureenregistrement" readonly [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-input type="text" [(ngModel)]="transactionForm.type" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="submit">Sauvegarder</ion-button>
<!-- <div class="ion-margin-top"><ion-button expand="block" (click)=" saveoperationt(transactionForm.value) " color="secondary">Sauvegarder</ion-button></div> -->
</form>


</ion-content>
